'context-menu':
  'atom-text-editor': [
    {
      'label': 'Search npm Registry'
      'command': 'npm-helper:search'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'npm helper'
      'submenu': [
        {
          'label': 'Search npm Registry'
          'command': 'npm-helper:search'
        }
      ]
    ]
  }
]
